/*
Error: Invalid CSS after "    background:": expected expression (e.g. 1px, bold), was "}"
        on line 35 of sass/components/_nav.scss
        from line 55 of sass/main.scss

30: 		background: tint( $color--primary, 33% );
31: 	}
32: 
33:   &--login{
34:     background: 
35:   }
36: 
37:   a {
38: 		color: #444;
39: 		@include font-size(16px);
40: 		font-weight: bold;

Backtrace:
sass/components/_nav.scss:35
sass/main.scss:55
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1179:in `expected'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/script/lexer.rb:227:in `expected!'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/script/parser.rb:673:in `assert_expr'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/script/parser.rb:63:in `parse'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1041:in `sass_script'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:894:in `value!'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:767:in `block in try_declaration'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1155:in `rethrow'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:780:in `try_declaration'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:709:in `declaration_or_ruleset'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:674:in `block_child'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:663:in `block_contents'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:655:in `block'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:724:in `declaration_or_ruleset'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:674:in `block_child'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:655:in `block'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:647:in `ruleset'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:673:in `block_child'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:123:in `stylesheet'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:39:in `parse'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/engine.rb:403:in `_to_tree'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/engine.rb:309:in `to_tree'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:324:in `block in visit_import'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/stack.rb:88:in `block in with_import'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/stack.rb:88:in `with_import'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/stack.rb:79:in `block in with_base'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/stack.rb:79:in `with_base'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `map'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:471:in `on_file_changed'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:328:in `block in watch'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/home/thomas/.gem/ruby/2.3.0/gems/sass-3.4.21/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    background:\": expected expression (e.g. 1px, bold), was \"}\"\A         on line 35 of sass/components/_nav.scss\A         from line 55 of sass/main.scss\A \A 30: 		background: tint( $color--primary, 33% );\A 31: 	}\A 32: \A 33:   &--login{\A 34:     background: \A 35:   }\A 36: \A 37:   a {\A 38: 		color: #444;\A 39: 		@include font-size(16px);\A 40: 		font-weight: bold;"; }
