$font-dir: '/css/fonts/';

@mixin font-face($name, $font-files, $weight: false, $style: false){
  @font-face {
    font-family: quote($name);
    src: url("#{$font-dir}#{$font-files}.woff") format("woff"),
       url("#{$font-dir}#{$font-files}.woff2") format("woff2"),
       url("#{$font-dir}#{$font-files}.ttf") format("truetype");
    @if $weight { font-weight: $weight; }
    @if $style { font-style: $style; }
  }
}

@include font-face('Source Sans Pro', sourcesanspro-regular-webfont);
@include font-face('Quattrocento', quattrocento-regular-webfont);
