.forum-post {
    display: block;
    padding: 1rem;
    border-bottom: 1px dashed #999;

    &:last-of-type {
        border-bottom: none;
    }

    &:hover {
        background: $color--primary;
        color: #fff;
    }

    em {
        font-size: 0.8rem;
    }
}
