.nav-menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;

  &--primary {
    background: #f2f2f2;
    font-size: 1.25rem;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      font-size: 1rem;
    }
  }

  &--secondary {
    padding: 0.5rem 0;

    @media screen and (max-width: 768px) {
      justify-content: center;
      .menu-item {
        flex-wrap: nowrap;
        font-size: 0.8rem;
      }
    }
  }
}
