.mailing-address {
  display: flex;

  span {
    padding-right: 4px;
  }

  &__city {
    min-width: 50%;
  }

  &__state {
    min-width: 30%;

    select {
      padding: 0.25rem;
    }
  }

  &__zip {
    min-width: 20%;
  }
}
