.phone {
  display: flex;

  .simple {
    margin-top: 0;
  }

  > .wpcf7-form-control-wrap {
    margin: 41px 0 0 8px;
  }

  > .label {
    flex: auto;
  }

  > .label:not(:first-child) {
    padding-left: 4px;
  }
}
