.byline {
  text-align: center;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 210px;

  @include media('>md') {
  }

  @include media('<md') {
    float: none;
    width: 100%;
  }

  &__image{
    @include filter(grayscale(100%));
    border-radius: 50%;
    opacity: 0.75;
  }

  &__author {
    text-align: center;
    font-size: 75%;
    font-style: italic;
  }
}
