/*
 * These are icons that appear after a given element
 */

a[href$=".pdf"] {
  &::after {
    content: '';
    display: inline-block;
    margin-left: 0.5rem;
    background: url('../images/icons/pdf.png') no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
  }
}
