@mixin cover($color: #000, $opacity: .75) {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $color;
    opacity: $opacity;
  }

  & > .inner {
    position: relative;
    z-index: 1;
  }
}