.aside{
    background: tint( $color--primary, 66% );
    @include sizing( 'margin-bottom', 1 );
    padding: ($layout-padding/2);
    @include shadow();
    @include media( '>md' ) {
        float: right;
        width: 25%;
        @include sizing( 'margin-left', 1 );
        + .post__content{
            margin-right: 27%;
        }
    }
    p{
        @include sizing( 'margin-bottom', 0.5 );
    }
}

.aside-title{
    text-align: center;
    @include sizing( 'margin-bottom', 0.5 );
}
