.footer{
	background: tint( $color--secondary, 50% ) url('/img/scta-logo-big.png') center no-repeat;
	@include font-size( 14px, true );
	@include clearfix;
	@include sizing( margin-top, 2 );
	@include sizing( margin-bottom, 0 );
	@include shadow( $inset: true );
	@include media( '>md' ) {
		@include sizing(margin-top, 1);
	}
	p{
		@include sizing( margin-bottom, .5 );
	}
    a{
        color: #444;
        border-bottom: 1px dotted #444;
        &:hover{
            color: #666;
            border-bottom: 1px solid #666;
        }
    }
}
