.post {
  @include shadow;
  background-color: #fff;
  word-wrap: break-word;
  padding: $layout-padding;

  @include media('>md') {
    display: inline-block;
    float: left;
    width: 100%;
  }

  @include media('<md') {
    &+ .post {
      @include sizing(margin-top, 1);
    }
  }
}

.post__title {
  @include font-size(32px, false);
  margin-top: 0;
  text-align: center;
  color: $color--primary;

  &:after {
    content:"";
    display: block;
    border: 1px solid tint($color--primary, 33%);
    @include sizing(width, 4);
    margin: 0 auto;
  }
}
