.post{
	@include sizing(padding-left, 0.25);
	@include sizing(padding-right, 0.25);
	@include sizing(padding-bottom, 0.25);
	@include shadow();
}
.post + .post {
	@include sizing(padding-top, 2);
}

.post-title {
	@include font-size(32px, false);
	margin-top: 0;
	text-align: center;
	color: $color--primary;
}
