html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    background-color: #f8f8f8;
}

body {
  color: #444;
  font-family: map-get($fonts, serif);
  min-width: 320px;
}