.categories {
  display: inline-block;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  @include sizing(margin-bottom, 1.5);
}

.cat-item {
  float: left;

  a {
    border-radius: 3em;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    @include font-size(15px);
    @include sizing(margin-bottom, .125);
    @include sizing(margin-right, .125);
    @include sizing(padding-left, .5);
    @include sizing(padding-right, .5);
    @include sizing(padding-bottom, .125);
    text-decoration: none;
    text-shadow: 0 1px 1px transparentize(#000 ,.85);
    transition: background .125s ease;
  }

  &.current-cat {
    a {
      background-color: transparentize(#777, .25);
      cursor: default;
      opacity: .25;

      &:hover,
      &:focus {
        background-color: transparentize(#777, .25);
        opacity: .25;
      }
    }
  }
}