.search-form {
  display: inline-block;

  label {
    @include font-size(14px, false);
    color: #999;
    position: relative;
    top: 0.5rem;
  }

  input {
    @include sizing(height, 1);
    color: #222;
    font-size: 75%;
    padding: 0 2px;
    width: 75%;
    border: 1px solid #ddd;
    border-right: 0;
  }


}

.search-result {
  display: block;
  width: 100%;
  padding: $layout-padding;
  margin-bottom: $layout-padding;
  border: none;
  background: tint($color--secondary, 33%);
  border-radius: 3px;
}

.screen-reader-text {
  font-size: 1em;
  margin-bottom: 10px;
}
