p:last-of-type {
  margin-bottom: 0;
}

table {
  width: 100%;

  td {
    vertical-align: top;

    &:first-child {
      text-align: right;
      font-weight: bold;
      width: 25%;
    }

    p {
      @include sizing(margin-bottom, 0.25);
    }
  }
}

::selection {
  background-color: $color--secondary;
  text-shadow: none;
}

::-moz-selection {
  background-color: $color--secondary;
  text-shadow: none;
}
