body {
  background: #f2f2f2;
  font-family: 'Nunito', $fontStack;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
