.banner {

  grid-template: 60px auto / 1fr;
  padding: 0 0 1em;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, rgb(40, 112, 140) 0%, rgb(61, 170, 213) 100%);
  background-size: cover;

  @media screen and (min-width: $mobileWidth + 1px) {
    grid-template: 150px auto / 1fr;
  }

  a {
    font-weight: normal;
  }
}
