.button {
    background: linear-gradient(to bottom, $color--primary 50%, lighten($color--primary, 5%));
    color: #f2f2f2;
    border-radius: 10px;
    padding: 0.5em;
    box-shadow: 0 4px 8px #9a9a9a;
    text-shadow: 0 1px 2px #6a6a6a;
    display: inline-block;
    margin: 0.25em;

    &::before {
        display: none;
    }

    &:hover {
        background: linear-gradient(to bottom, lighten($color--primary, 5%) 50%, lighten($color--primary, 10%));
    }
}
