.footer {
    margin-top: 5em;
    font-size: 0.75em;
    padding-bottom: 2em;
    position: relative;

    &::after {
        content: '';
        background: url('/images/logo-side-text.svg') bottom center no-repeat;
        background-size: contain;
        width: 100%;
        height: 3em;
        position: absolute;
        opacity: 0.25;
        margin-bottom: 2em;
    }
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.footer__list,
.footer__sublist {
    list-style: none;
    padding: 0;
}

.footer__list {
    & > .footer__item {
        @media screen and (max-width: 450px) {
            flex: 33%;
        }
    }
}

.footer__sublist{
    margin: 0 2em 2em 0;

    a {
        font-weight: normal;
    }
}

.footer__link {
    background: none;
    display: inline-block;
}
