.hero {
    display: grid;
    grid-template-columns: [gutter-left start] 1em [title] 4fr [caption] 2fr [gutter-right] 1em [end];
    grid-template-rows: [title caption start] 1fr [end];
    background: $color--primary;
    background: linear-gradient(to bottom, $color--primary, $color--primary 75%, darken($color--primary, 10%) 100%);
    overflow: hidden;
    color: #f2f2f2;
    border: 10px solid #f2f2f2;
    border-bottom: 0;

    @media screen and (max-width: 650px) {
        grid-template-columns: [gutter-left start] 1em [title caption] 1fr [gutter-right] 1em [end];
        grid-template-rows: [title start] auto [caption] auto [end];
    }
}

.hero__image {
    grid-column: start / end;
    grid-row: start / end;
    opacity: 0.5;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__title {
    grid-column: title;
    grid-row: title;
    z-index: 2;
    align-self: center;
    text-shadow: 1px 1px 1px #3a3a3a;
    font-size: 3em;
}

.hero__caption {
    grid-column: caption;
    grid-row: caption;
    z-index: 2;
    text-align: right;
    place-self: end;
    line-height: 1.125;
    text-shadow: 1px 1px 1px #3a3a3a;
}
