.hero {
  grid-column: 1;
  grid-row: 2;
  overflow: hidden;
  max-height: 100%;

  @media screen and (min-width: $mobileWidth + 1px) {
    grid-row: 1 / 3;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }
}

.hero__image {
  display: block;
  object-fit: cover;
  height: 100%;
  opacity: 0.25;
}
