.links {
    background: transparentize($color: $color--secondary, $amount: 0.67);
}

.links__list {
    max-width: 1000px;
    margin: 0 auto;
    list-style: none;
    font-size: 0.85em;
    padding: 1em 4px;
}

.links__item {
    display: inline-block;
    margin: 0.25em;
}
