.menu-item {
  margin: auto 0.25em;
  text-align: center;
  position: relative;
  text-shadow: 1px 1px 1px transparentize(#000, 0.9);

  &:hover {
    background: lighten($color--primary, 15%);

    @media screen and (min-width: 481px) {
      .sub-menu {
        display: block;
      }
    }

    a {
      color: #f2f2f2;
    }
  }

  a {
    padding: 1em;
    color: #222;
    display: block;

    &:hover {
      background: lighten($color--primary, 25%);
      color: #f2f2f2;
    }
  }
}

.menu-item-has-children {
  @media screen and (min-width: $mobileWidth + 1px) {
    &:hover {
      .sub-menu {
        display: block !important;
      }
    }
  }
}
