.mobile-menu {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  padding: 4px;
  background: $color--secondary;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 2;

  @media screen and (max-width: $mobileWidth) {
    display: flex;
  }
}

#mobile-menu__button {
  background: none;
  font-family: 'Lovelo', $fontStack, sans-serif;
  outline: none;
  border: 0;
  margin: 0 1em;
  width: 65px;
}
