.news {
    display: grid;
    grid-template-columns: [start content] 4fr [link] 1fr [end];
    grid-template-rows: [title] auto [content link] auto;
    grid-column-gap: 1em;
}

.news__title {
    grid-column: start / end;
    grid-row: title;
    margin: 0;
}

.news__content {
    grid-column: content;
    grid-row: content;
}

.news__link {
    grid-column: link;
    grid-row: link;
}
