.news {
    display: block;
    margin-bottom: 2em;
    font-weight: normal;
    text-decoration: none;
    color: #3a3a3a;
}

.news__title {
    font-size: 0.75em;
    font-weight: bold;

    h1 {
        margin-bottom: 0;
    }
}
