.tagline {
    display: flex;
    margin: 0.5em 0;
    align-items: center;
    padding: 0 1em;
}

.tagline__logo {
    max-height: 2.5em;
    margin-right: auto;
    padding: 0;
    background: none;
}

.tagline__text {
    font-style: italic;
    color: #7a7a7a;
    text-align: right;
}
