.title {
    background: transparentize($color: $color--secondary, $amount: 0.67);
    border-bottom: 1px solid $color--secondary;
}

.title__text {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0.5em 4px;
}
