.wp-caption {

  img {
    border-radius: 50%;
    opacity: 0.75;
  }

  &-text {
    text-align: center;
    font-size: 75%;
    font-style: italic;
  }

  @include media('<md') {
    margin: 0;
  }
}
