.download-item {
  @include sizing('margin-bottom', 0.5);
  @include sizing(padding, 0.5);
  display: inline-block;
  color: #fff;
  background: tint($color--primary, 33%);
  font-weight: bold;
  border-radius: 3px;
  transition: 0.175s all ease-in;

  &:hover,
  &:active {
    color: #fff;
    background: $color--primary;
  }

  @include media('<md') {
    display: block;
  }
}
