.header-bar {
  @include clearfix;
  background: tint($color--primary, 50%);
  color: #fff;

  &__tagline,
  &__social,
  &__search {
    width: 33%;
    float: left;
    padding: 0.25rem 1rem;
  }

  &__tagline {
    font-style: italic;
    text-shadow: 0 1px 1px #999;
  }

  &__social {
    text-align: center;
  }

  &__search {
    text-align: right;
  }
}

.social-icon {
  @include sizing(margin-left, 0.5);
  max-width: 40px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
