.main-menu {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: $site-max-width;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;

  @include media('<md') {
    background: $color--secondary;
    background: transparentize($color--secondary, 0.05);
    margin-top: 0;
    margin-bottom: 0;
    transition: 0.2s all;

    &.open {
      opacity: 1;
      visibility: visible;
    }
  }
}

.page_item {
  display: inline-block;

  &:hover,
  &:focus {
    background: tint($color--primary, 33%);
  }

  &--login {
    background-color: #4FD2A6;
  }

  &__link {
    @include font-size(16px);
    font-weight: bold;
    width: 100%;
    border-bottom: 0;

    &:hover,
    &:focus {
      color: #fff;
      background: $color--primary;
      border-bottom: 0;
    }
  }

  @include media('>md') {
    margin-left: 0;
    margin-right: 0;

    &:hover,
    &:focus {
      .children{
        display: block;
      }
    }

    a {
      display: inline-block;
      @include sizing(padding, .5);

      &:active { top: 0; }
    }
  }

  @include media('<md') {
    display: inline-block;
    width: 48%;
    a{
      display: block;
      @include sizing(padding, .25);
      @include sizing(margin-bottom, .25);
    }
  }
}

.mobile-menu{
  font-weight: bold;
  @include sizing(padding, .25);
  z-index: 20;
  position: relative;
}

.current_page_item > .page_item__link {
  cursor: default;
  background: tint($color--primary, 10%);
  color: #fff;
}

.children{
  @include shadow;
  display: none;
  position: absolute;
  z-index: 10;
  background: tint($color--primary, 33%);
  list-style: none;
  margin-left: 0;
  text-align: left;

  .page_item {
    display: block;
  }

  .page_item__link {
    @include sizing(padding-top, 0.15);
    @include sizing(padding-bottom, 0.15);
  }
}
