.search-result{
	margin-bottom: $layout-padding;
	p{
		margin-bottom: $layout-padding;
		color: #222;
		&:hover{
			color: shade( map-get($colors, link), 33% )
		}
	}
	&:after {
		content:"";
		display: block;
		border: 1px solid tint( $color--primary, 33% );
		width: 75%;
		margin: 0 auto;
	}
	&:last-child:after{
		border: none;
		margin-bottom: 0;
	}
}
