.search-form {
	display: inline-block;
	width: 300px;

	label {
		@include font-size( 14px, false );
		color: #999;
		position: relative;
		top: 0.5rem;
	}

	input {
		color: #222;
    font-size: 75%;
		@include sizing( height, 1 );
		width: 75%;
		border: 1px solid #ddd;
		border-right: 0;
	}

	button {
		position: relative;
		right: 0;
		bottom: -1px;
		@include sizing( height, 1 );
		width: 25%;
		border: 1px solid tint( $color--primary, 33% );
		background: tint( $color--primary, 33% );
		color: #f2f2f2;
		font-weight: bold;
		&:hover {
			border-color: $color--primary;
			background-color: $color--primary;
		}
	}
}
.search-result {
	width: 100%;
	padding: $layout-padding;
	background-color: #eee;
	margin-bottom: $layout-padding;
	@include media( '>sm')  {
		float: left;
		margin: $layout-padding 1%;
	}
	@include media( '>sm', '<md' )  {
		width: 48%;
	}
	@include media( '>md' )  {
		width: 23%;
	}
}
