.search-form{
	display: inline-block;
	width: 300px;
	@include media('>sm') {
		position: absolute;
		right: 1.5rem;
		bottom: 0;
	}
	label{
		@include font-size( 14px, false );
		color: #999;
		position: relative;
		top: 0.5rem;
	}
	input{
		padding: .375em 2% .375em 2%;
		@include sizing( height, 1.5 );
		width: 75%;
		border: 1px solid #ddd;
		border-right: 0;
	}
	button{
		position: relative;
		right: 0;
		bottom: 0;
		@include sizing( height, 1.5 );
		width: 25%;
		border: 1px solid tint( $color--primary, 33% );
		background: tint( $color--primary, 33% );
		color: #f2f2f2;
		font-weight: bold;
		&:hover{
			border-color: $color--primary;
			background-color: $color--primary;
		}
	}
}
.search-result{
	width: 100%;
	padding: $layout-padding;
	background-color: #eee;
	margin-bottom: $layout-padding;
	@include media( '>md' ) {
		float: left;
		width: 23%;
		margin: $layout-padding 1%;
	}
}
