.social{
	float: right;
	@include sizing( right, 1 );
	text-align: right;
	svg{
	
	}
	@include media('<md') {
		position: static;
		text-align: center;
		float: none;
		@include sizing( margin-top, .5 );
		@include sizing( margin-bottom, .5 );
	}
}
