#timer{
	font-weight: bold;
	text-align: center;
	@include media('>md'){
        @include sizing( margin-bottom, 1 );
        width: 50%;
        margin-left: 25%;
	}
	p{
		@include sizing(margin, 0);
		@include font-size( 22px, false);
		color: $color--primary;
		text-shadow: 0 1px 1px #999;
	}
}

.timer__box{
	display: inline-block;
	width: 50px;
	background: transparentize($color--primary, .5);
	@include font-size(18px, false);
	@include shadow();
}

.timer__smalltext{
	@include font-size(14px, false);
	font-weight: normal;
}
