.home-hero {
  text-align: center;
  @include sizing(padding-bottom, 2.75);

  @include media('>md') {
    @include sizing(padding-bottom, 3.5);
  }
}

.home-title {
  @include font-size(20px);
  @include sizing(margin-bottom, 1.25);
  font-weight: normal;
  text-align: center;
  color: #fff;

  @include media('>md') {
    @include font-size(24px);
    @include sizing(margin-bottom, 1.5);
  }

  @include media('>lg') {
    @include font-size(34px);
  }
}

.home-cta {
  background-color: transparentize(#fff, .9);
  border: 1px transparentize(#ecf0f1, .5) solid;
  border-radius: 3px;
  box-shadow: 0 1px 1px transparentize(#000, .85);
  @include sizing(padding-top, .25);
  @include sizing(padding-bottom, .35);
  @include sizing(padding-left, 1.25);
  @include sizing(padding-right, 1.75);
  transition: all .125s ease;

  &:hover,
  &:focus {
    background-color: transparentize(#fff, .85);
    border-color: transparentize(#ecf0f1, .35);
    box-shadow: 0 1px 1px transparentize(#000, .85);

    span {
      background-color: transparent;

      &:before {
        background-color: darken(map-get($colors, link), 15%);
        @include sizing(height, .35);
      }
      &:after { right: -1em; }
    }
  }

  &:active { top: 0; }

  span {
    color: #ecf0f1;
    box-shadow: none;
    @include font-size(18px);
    @include sizing(padding-left,  .15);
    @include sizing(padding-right, .15);
    font-style: italic;
    position: relative;
    text-shadow: 0 1px 0 transparentize(#000, .75), 0 0 10px transparentize(#95A1A2, .25);


    &:before {
      content: '';
      background-color: darken(map-get($colors, link), 10%);
      position: absolute;
      left: 0;
      right: 0;
      top: 1.125em;
      height: 0;
      z-index: -1;
      opacity: .5;
      transition: all .125s ease;
    }

    &:after {
      content: '\2192';
      position: absolute;
      right: -.85em;
      transition: all .125s ease;
    }

    @include media('>md') {
      @include font-size(20px);
    }
  }
}

.home-container {
  @include sizing(margin-top, -2);
}

.home-container-block {
  display: inline-block;
  float: left;
  @include sizing(padding, 1);
  @include sizing(margin-bottom, 1);
  background-color: #fff;
  width: 100%;

  &:last-child { margin-bottom: 0; }

  @include media('>md') {
    margin-bottom: 0;
    width: calc(50% - 1em);

    &:nth-of-type(odd) { margin-right: 1em; }
    &:nth-of-type(even) { margin-left: 1em; }
  }
}

.home-block-heading {
  @include font-size(14px, false);
  @include sizing(margin-bottom, .5);
  display: inline-block;
  width: 100%;
  color: #7f8c8d;
}
.home-block-title {
  @include font-size(24px);
  @include sizing(margin-bottom, 1);

  a {
    color: #2c3e50;
  }
}
.home-container-block p {
  color: #444;
  @include font-size(16px);
}
.home-block-link {
  @include font-size(16px);
}