.links {
  grid-column: 1;
  grid-row: 2;
  margin: 0;
  padding: 0 10px 0 0;

  @media screen and (max-width: 800px) {
    border-bottom: 2px solid lighten($color--primary, 15%);
  }

  @media screen and (min-width: 801px) {
    min-height: 288px;
    background: url('../images/scta-logo.png') top/contain no-repeat;
    border-right: 2px solid lighten($color--primary, 15%);
  }
}

.links__item {
  display: block;
  margin-bottom: 1em;
}
