.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: $mobileWidth) {
    flex-wrap: wrap;
    justify-content: center;

    a {
      color: #f2f2f2;
    }
  }
}

.nav-menu--primary {
  @media screen and (min-width: $mobileWidth + 1px) {
    background: #f2f2f2;
    order: 2;
  }

  li {
    flex: auto;
  }
}

.nav-menu--secondary {
  a {
    color: #f2f2f2;
  }
}
