.tagline {
  grid-column: 1;
  grid-row: 2;
  margin: 0 0 1em;
  z-index: 2;
  text-align: center;
  color: #f2f2f2;
  text-shadow: 0 2px 2px transparentize(#333, 0.33);

  p {
    text-transform: none;
    font-size: 1.5em;
    margin: 1em auto;
    max-width: 360px;
    
    @media screen and (max-width: $mobileWidth) {
      font-size: 1.2em;
    }
  }
}
