<!doctype html>
<html>
{{ partial "head" . }}
<body>
    {{ partial "header" . }}
        <header class="title">
            {{ block "header" . }}
                <h1>
                    {{ partial "breadcrumb" . }}
                </h1>
            {{ end }}
        </header>
        <ul class="links">
            {{ block "aside" . }}
                {{ range .Params.blocks }}
                    {{- if eq .template "attachment" -}}{{ partial "blocks/attachment" (dict "Params" .) }}{{- end -}}
                    {{- if eq .template "link" -}}{{ partial "blocks/link" (dict "Params" . "Site" $.Site) }}{{- end -}}
                    {{- if eq .template "external-link" -}}{{ partial "blocks/external-link" (dict "Params" . "Site" $.Site) }}{{- end -}}
                {{ end }}
                {{ range where .Pages "Parent.RelPermalink" "eq" $.RelPermalink }}
                     <li class="links__item">
                         <a href="{{ .Permalink }}">{{ .Title }}</a>
                     </li>
                {{ end }}
            {{ end }}
        </ul>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
    </body>
</html>
