<!doctype html>
<html>
{{ partial "head" . }}
<body>
    {{ partial "header" . }}
    <main>
        <header class="title">
            {{ block "header" . }}
                <h1>
                    {{ partial "breadcrumb" . }}
                </h1>
            {{ end }}
        </header>
        <ul class="links">
            {{ block "aside" . }}
                {{ range .Params.attachments }}
                    <li class="links__item">
                        <a href="{{ .file }}">{{ .caption }}</a>
                    </li>
                {{ end }}
                {{ range .Params.links }}
                    {{ with $.Site.GetPage .link }}
                        <li class="links__item">
                            <a href="/{{ .Permalink }}">{{ .Title }}</a>
                        </li>
                    {{ end }}
                {{ end }}
                {{ range where .Pages "Parent.RelPermalink" "eq" $.RelPermalink }}
                     <li class="links__item">
                         <a href="{{ .Permalink }}">{{ .Title }}</a>
                     </li>
                {{ end }}
            {{ end }}
        </ul>
        <section class="content">
            {{ block "main" . }}{{ end }}
        </section>
    </main>
</body>
</html>
