<!doctype html>
<html>
{{ partial "head" . }}
<body class="home">
    {{ partial "header" . }}
        <header class="title">
            {{ block "header" . }}
                <h1>
                    {{ partial "breadcrumb" . }}
                </h1>
            {{ end }}
        </header>
        <main class="news-list">
            {{- range .Params.blocks -}}
                {{- if eq .template "news" -}}{{ partial "blocks/news" (dict "Params" .) }}{{- end -}}
            {{- end -}}
        </main>
    </body>
</html>
