a {
    text-decoration: none;
    position: relative;
    font-weight: bold;
    padding: 0.125em 0.25em;
    background: transparentize($color: $color--primary, $amount: 0.5);
    color: inherit;

    &:hover {
        background: transparentize($color: $color--primary, $amount: 0.67);
    }
}
