body {
    display: grid;
    grid-row-gap: 0.5em;
    grid-template-columns: [aside main] 1fr;
    grid-template-rows: [banner] auto [title] auto [links] auto [content] auto [end];
    max-width: 1000px;
    margin: 0 auto;
    
    @media screen and (min-width: $mobileWidth + 1px) {
        grid-template-rows: [banner] auto [title] auto [links content] auto [end];
        grid-template-columns: [aside] 1fr [main] 3fr [end];
        grid-gap: 1em;
    }
}