html {
  background: #f2f2f2;
  font-family: 'Lato', $fontStack, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  overflow-y: scroll;
  overflow-x: hidden;

  @media screen and (min-width: 800px) {
    font-size: 125%;
  }
}
