html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body{
	font-family: map-get($fonts, sans);
	background: $color--secondary;
	min-width: 320px;
	color: #444;
}
