h1, h2, h3, h4, h5, h6 {
	color: #222;
	font-family: map-get( $fonts, serif );
}

hr {
	border-top: none;
	border-bottom: 1px #ddd solid;
	margin-bottom: $typecsset-magic-number;
	margin-bottom: $typecsset-magic-ratio + rem;
}

blockquote {
	background-color: #f4f4f4;
	border-left: 3px #eee solid;
	margin-left: 0;
	margin-right: 0;
	padding: $typecsset-magic-number;
	padding: $typecsset-magic-ratio + rem;
	@include typecsset-space(padding-left);

	p:last-child { margin-bottom: 0; }
}

dfn {
	font-style: normal;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		bottom: .125em;
		left: 0;
		right: 0;
		border-bottom: 1px dotted #aaa;
	}
}

[data-tweet-id] {
	margin-bottom: 1.5em !important;
}

::selection    {
	background-color: $color--secondary;
	text-shadow: none;
}
::-moz-selection {
	background-color: $color--secondary;
	text-shadow: none;
}

p {
	&:last-child { margin-bottom: 0; }
}
