{{ define "aside" }}

{{ end }}

<!doctype html>
<html>
{{ partial "head" . }}
<body>
    {{ partial "header" . }}
        <header class="title">
            {{ block "header" . }}
                <h1>
                    {{ partial "breadcrumb" . }}
                </h1>
            {{ end }}
        </header>
        <ul class="links">
            {{ block "aside" . }}
                {{ range .Pages }}
                    <li class="links__item">
                        <a href="{{ .Permalink }}">{{ .Date.Format "January 2006" }}</a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
    </body>
</html>
