.members-only {
  position: absolute;
  right: 2rem;
  top: 3rem;

  @include media('<md') {
    position: static;
    margin-top: 1em;
  }

  &:hover .members-only-menu {
    display: block;

    @include media('<md') {
      display: none;
    }
  }

  .menu-item {
    a {
      @include font-size(14px, false);
    }
  }
}

.members-only-menu {
  display: none;
  text-align: right;
  position: absolute;
  top: 36px;
  right: 0;
  min-width: 150px;

  .menu-item {
    background-color: tint($color--action, 50%);
  }
  
  .menu-item--sign-out {
    background-color: tint($color--action, 25%);
  }
}
