.timer__box {
  @include font-size(26px, false);
  display: inline-block;
  width: 75px;
}

.timer__smalltext {
  @include font-size(22px, false);
  font-weight: normal;
}

.timer__box,
.timer__smalltext {

  @include media('<md') {
    font-size: 90%;
  }
}
