{{ $resources := (.Site.GetPage "uploads").Resources }}
{{ $resources := ($.Site.GetPage "section" "uploads").Resources }}
{{ $file := $resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.hero) }}
{{ $hero := $file.Resize "1500x q85"}}
<header class="banner" style="background-image: linear-gradient(to bottom, rgba(40, 112, 140, 0.75) 0%, rgba(61, 170, 213, 0.75) 100%), url('{{ $hero.Permalink }}');">
    <nav class="mobile-menu">
        <a href="/">
            <img class="logo" src="/images/logo-side-text.svg" alt="SCTA logo">
        </a>
        <button id="mobile-menu__button">Menu</button>
    </nav>
    <nav class="navigation">
        <ul class="nav-menu nav-menu--primary">
            <li class="logo-item">
                <a href="/">
                    <img class="logo" src="/images/logo-side-text.svg" alt="SCTA logo">
                </a>
            </li>
            {{ range $.Site.Menus.main }}
                <li class="menu-item menu-item-has-children">
                    <a href="{{ .URL }}">{{ .Name }}</a>
                    <ul class="sub-menu">
                        {{ range .Page.Pages }}
                            <li class="menu-item">
                                <a href="{{ .Permalink }}">{{ .Name }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </li>
            {{ end }}
        </ul>
        <ul id="menu-secondary-navigation" class="nav-menu nav-menu--secondary">
            {{ range $.Site.Menus.secondary }}
                <li class="menu-item">
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
            {{ end }}
            <li class="menu-item menu-login">
                <a href="/members/login/">Login</a>
            </li>
        </ul>
    </nav>
    <section class="tagline">
        <h1>{{ .Params.tagline }}</h1>
        <p>{{ .Params.subtagline}}</p>
    </section>
    <a class="hero__caption" href="{{ $hero.Permalink }}" data-caption="{{ .Params.caption }}">{{ .Params.caption }}</a>
</header>
