{{ define "breadcrumb" }}
    {{ with .Parent }}
        {{ template "breadcrumb" . }}
        {{ if not .IsHome }}
            <a class="breadcrumbs__link" href="{{ .Permalink }}">{{ .Title }}</a> &raquo;
        {{ end }}
    {{ end }}
{{ end }}

{{ if not .IsHome }}
    <header class="title">
        <div class="breadcrumbs">
            {{ template "breadcrumb" . }}
        </div>
        <h1 class="title__text">{{ if ne .Title (title .Section) }}{{ .Title }}{{ end }}</h1>
    </header>
{{ end }}
