<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SCTA's vision is to transform the lives of all South Carolinians through theatre. Connect, create, cultivate.">

    <title>{{- partial "title" . -}}</title>

    {{- $options := (dict "targetPath" "css/main.css" "outputStyle" "compressed" "enableSourceMap" true ) -}}
    {{- $style := resources.Get "styles/main.scss" | resources.ToCSS $options | fingerprint -}}
    <link rel="stylesheet" href="{{- $style.Permalink -}}" integrity="{{- $style.Data.Integrity -}}">

    {{- $resources := ($.Site.GetPage "/uploads").Resources -}}
    {{- $homepage := $.Site.GetPage "/" -}}
    {{- $file := $resources.GetMatch (strings.TrimPrefix "/uploads/" $homepage.Params.hero) -}}
    {{- $image := $file.Fill "1024x683" -}}
    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="South Carolina Theatre Association">
    <meta itemprop="description" content="SCTA's vision is to transform the lives of all South Carolinians through theatre. Connect, create, cultivate.">
    <meta itemprop="image" content="{{- $image.Permalink -}}">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.southcarolinatheatre.org">
    <meta property="og:type" content="website">
    <meta property="og:title" content="South Carolina Theatre Association">
    <meta property="og:description" content="SCTA's vision is to transform the lives of all South Carolinians through theatre. Connect, create, cultivate.">
    <meta property="og:image" content="{{- $image.Permalink -}}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="South Carolina Theatre Association">
    <meta name="twitter:description" content="SCTA's vision is to transform the lives of all South Carolinians through theatre. Connect, create, cultivate.">
    <meta name="twitter:image" content="{{- $image.Permalink -}}">

    <!-- Meta Tags Generated via http://heymeta.com -->

    {{ $jsMain := resources.Get "scripts/main.js" }}
    {{ $js := $jsMain | minify | fingerprint }}
    <script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" defer async></script>

    {{ partialCached "matomo" . }}
</head>
