{{ $resources := ($.Site.GetPage "/uploads").Resources }}
{{ $section := $.Site.GetPage .Section }}
{{ $file := $resources.GetMatch (strings.TrimPrefix "/uploads/" ($section.Params.hero | default "HonkyTonk-26.jpg")) }}
{{ $hero := $file.Fill "1200x532" }}
{{ $large := $file.Resize "1200x q90"}}
<header class="hero">
    <h1 class="hero__title">{{ $section.Title }}</h1>
    <a class="hero__caption" href="{{ $large.Permalink }}">{{ $section.Params.caption }}</a>
    <img class="hero__image" src="{{ $hero.Permalink }}">
</header>

