{{ $currentPage := . }}
<nav class="nav">
    <ul class="nav__list">
        {{ range $.Site.Menus.main }}
            <li class="nav__item">
                <a class="nav__link{{ if and (in .URL $currentPage.Section) (ne $currentPage.Section "") }} active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
                <ul class="nav__sublist">
                    {{ range .Children }}
                        <li class="nav__item">
                            <a class="nav__link" href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                </ul>
            </li>
        {{ end }}
    </ul>
</nav>
