.footer {
  @include sizing(margin-top, 2);
  @include sizing(margin-bottom, 1);
  text-align: center;

  @include media('>md') {
    @include sizing(margin-top, 1);
  }
}

.copyright {
  @include font-size(15px);
  color: #bdc3c7;

  @include media('>md') {
    float: right;
  }
}