.aside {
  grid-area: aside;
  padding: 0 0.5rem;
  border-right: 2px solid lighten($color--primary, 15%);
  background-size: contain;

  @media screen and (max-width: 800px) {
    border-right: 0;
    border-bottom: 2px solid lighten($color--primary, 15%);
  }

  @media screen and (min-width: 801px) {
    min-height: 288px;
    background: url('../images/scta-logo.png') center top no-repeat;
  }
}
