.aside {
  @include shadow;
  background: tint($color--primary, 66%);
  margin: 0 0 1em;
  padding: ($layout-padding / 2);

  @include media('>md') {
    float: right;
    width: 25%;
    margin: 0 0 1em 1em;
  }

  p {
    @include sizing('margin-bottom', 0.5);
  }
}
