.banner__bar {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.banner__social,
.banner__tagline,
.banner__search {
    width: 33.33%;
    padding: 0.25rem;
}

.banner__tagline {
    color: $color--primary;
    font-style: italic;
    text-shadow: 1px 1px 1px #ccc;
    text-align: center;
}

.banner__search {
    text-align: right;
}

.banner__logo {
    margin: 0 auto;
}
