.menu-item {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  position: relative;
  text-shadow: 1px 1px 1px transparentize(#000, 0.9);

  @media screen and (max-width: 768px) {
    margin: 0 0.5rem;
    padding: 0.5rem;
  }

  a {
    color: #f2f2f2;
  }

  &:hover {
    @media screen and (min-width: 769px) {
      .sub-menu {
        display: block;
      }
    }
  }
}
