.nav-secondary {
  padding: 0.5rem 0;
  order: 1;
  font-size: 1rem;

  @media screen and (max-width: 480px) {
    background: #f2f2f2;

    a {
      color: $color--primary;
    }

    .menu-item {
      width: 44%;
      display: inline-block;
      font-size: 0.8rem;
    }
  }
}
