.tagline {
  padding-top: 3rem;
  text-align: center;
  text-shadow: 0 2px 2px #333;
  text-transform: none;

  h1 {
    font-weight: normal;
    margin-bottom: 6rem;
    position: relative;
    text-shadow: 0 2px 2px #333;

    &::after {
      content: '';
      position: absolute;
      bottom: -3rem;
      left: 40%;
      width: 20%;
      height: 5px;
      background: $color--contrast;
      box-shadow: 0 2px 2px #333;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 3rem;

      &:after {
        bottom: -1.5rem;
      }
    }
  }

  p {
    width: 350px;
    margin: auto;
    font-size: 1.25rem;
  }
}
