.tagline {
  padding-top: 3rem;
  text-align: center;
  text-shadow: 0 2px 2px #333;
  text-transform: none;
  color: #f2f2f2;

  h1 {
    font-weight: normal;
    margin-bottom: 3rem;
    position: relative;
    text-shadow: 0 2px 2px #333;

    @media screen and (max-width: 768px) {
      margin-bottom: 3rem;

      &:after {
        bottom: -1.5rem;
      }
    }
  }

  p {
    max-width: 350px;
    margin: auto;
    font-size: 1.5rem;
  }
}
