.simple {
  .first {
    margin-left: 0;
  }

  label {

    border-radius: 3px;
    text-align: center;
  }

  input {
    display: none;

    &:checked + span {
      background: lighten($color--primary, 25%);
      color: #f2f2f2;
      border-color: lighten($color--primary, 25%);
    }
  }

  .wpcf7-list-item {
    margin: 20px 1rem 0 0;
    display: inline-block;
  }

  .wpcf7-list-item-label {
    border: 1px solid #dedede;
  }
}

.wpcf7-list-item-label {
  padding: 1rem;
}

input[type="checkbox"] {
  display: inline;
  width: auto;

  + span.wpcf7-list-item-label {
    display: inline;
    padding-left: 4px;
  }
}
